<div class="navbar">
    <!-- Logo -->
    <div class="logo">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/OOjs_UI_icon_home.svg/1024px-OOjs_UI_icon_home.svg.png" alt="Domora Logo"> -->
        <a href="/"><i class="fa-solid fa-house-chimney"></i></a>
        <a href="/">Domora</a>
        
        
    </div>

    <!-- Search Bar -->
    <div class="search-bar">
        <span><a href="/">Home</a></span>
        <span><a href="/listings">All Listings</a></span>
        <span><a href="/listings/new">Add New Listing</a></span>
        <div class="search-icon">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg" alt="Search">
        </div>
    </div>

    <!-- Right Menu -->
    <div class="right-menu">
        <!-- <span>Become a host</span> -->
        <div class="globe-icon"><i class="fa-solid fa-globe"></i></div>
        <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
    </div>
</div>